Alvaro Viejo (100451677), Rodrigo Oliver (100451788), HÃ©ctor Tienda (100432519)

# Creating a subset of the dataset for exploration purposes

In [1]:
import pandas as pd
import os

In [4]:
DATA_DIR = "data"
file_name = os.path.join(os.getcwd(), DATA_DIR, "reviews_spoiler_full.csv")

# ignore the first column of the dataset
with open(file_name) as csv:
    ncols = len(csv.readline().split(','))

reviews_spoiler_df = pd.read_csv(file_name, usecols=range(1, ncols))
reviews_spoiler_df.head()

                                         review_text  rating book_genre
0  This is a special book. It started slow for ab...       5    fantasy
1  A fun, fast paced science fiction thriller. I ...       3   thriller
2  A fun fast paced book that sucks you in right ...       4    fantasy
3  This book has a great premise, and is full of ...       3    fantasy
4  A fun, dark, slightly comical western about tw...       3    history

Create a version of the dataset with balanced classes

In [31]:
reviews_bygenre = reviews_spoiler_df.groupby('book_genre')

fewest_class = reviews_bygenre.count().min()

# get a sample of equal size between all genres
reduced_reviews_spoiler_df = reviews_bygenre.sample(fewest_class_n.values[0]).reset_index(drop=True)
reduced_reviews_spoiler_df.head()

                                         review_text  rating book_genre
0  I originally gave this three stars, but it was...       4   children
1  they didnt actually quit, they just wrote lett...       4   children
2  This story follows a family consisting of a fa...       5   children
3  I don't remember reading this book in school, ...       4   children
4  Read for the 2016 YA/MG Book Battle. This book...       5   children

In [32]:
# finally, store the reduced version of the file
reduced_reviews_spoiler_df.to_csv(os.path.join(os.getcwd(), DATA_DIR, "reviews_spoiler_reduced.csv"))